

.form_container{
    width: 350px;
    margin: 0 auto

}

.form_container .form{
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 0 40px 25px 40px;
    margin-bottom: 30px;
}


.form .title {
    overflow: hidden;
    text-indent: 110%;
    margin: 22px auto 8px;
}


.form label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.form input{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
}

.form p{
    margin-bottom: 10px;
}

.form .submit_btn{
    background: #3897f0;
    border-color: #3897f0;
    color: #fff;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
    outline: none;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    cursor: pointer;
}

.bottom_box{
    text-align: center;
    /*height: 290px;*/
    background-color: #fff;
    border: 1px solid #e6e6e6;
    padding: 20px 40px 25px 40px;
    /*display: flex;*/
    /*align-items: center;*/
}

















