


.post_form_container{
    max-width: 550px;
    margin: 0 auto;
}


.post_form{
    padding: 40px;
    background-color: #fff;
    border: 1px solid #e6e6e6;
    margin: 0 0 10px;
}

.post_form .title{
    margin: 0 10px 40px;
    font-weight: 400;
    font-size: 30px;
    text-align: center;
}


.post_form .preview{
    margin-bottom: 30px;
}

.post_form .preview .upload{
    max-width: 300px;
    height: 300px;
    border: 1px solid #e6e6e6;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus_icon{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto 10px;
    border: 1px solid dodgerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}


.plus_icon span{
    position: absolute;
    display: block;
    width: 2px;
    height: 30px;
    background: dodgerblue;

}

.plus_icon span:nth-child(2){
    transform:rotate(90deg);
}

.post_form p{
    margin-bottom: 20px;
}

.post_form input[type=file]{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
}


.post_form textarea{
    width: 100%;
    background: 0 0;
    border: 1px solid #efefef;
    border-radius: 3px;
    box-sizing: border-box;
    color: #262626;
    font-size: 14px;
    padding: 7px 8px 7px;
}


